<!-- File created in Thu Jun 22 03:17:42 BRT 2017 -->
<meta charset="utf-8">
<link rel="stylesheet" href="style.css" type="text/css">
<h3 align="center">gyuftyugi</h3>
<div class="image">
 <img src="http://localhost:8008/file/dica/7/1.jpg" alt="Imagem">
</div>
<p class="text"> oihuh </p>