<!-- File created in Sun Jun 11 19:00:12 BRT 2017 -->
<meta charset="utf-8">
<div class="image">
 <img src="http://localhost:8008/file/dica/18/Capturar.PNG" alt="Imagem">
</div>
<p class="text"> sadoipjdaoi </p>