<!-- File created in Thu Jun 22 03:12:27 BRT 2017 -->
<meta charset="utf-8">
<link rel="stylesheet" href="style.css" type="text/css">
<h3>uguyguig</h3>
<div class="image">
 <img src="http://localhost:8008/file/dica/6/18527828_1847855522202070_6531821057095095303_n.jpg" alt="Imagem">
</div>
<p class="text"> biuguiguiguig </p>
<div class="image">
 <img src="http://localhost:8008/file/dica/6/1-r-image.png" alt="Imagem">
</div>
<p class="text"> bifuttufyguh </p>