<!-- File created in Thu Jun 22 03:02:44 BRT 2017 -->  
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta http-equiv="Content-Language" content="en"> 
<title>Dica</title> 
<meta name="description" content=""> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
<link href="css/main.css" rel="stylesheet"> 
<div class="wrapper"> 
 <h1>Dica da giu</h1> 
 <ol></ol>
</div>
<li> 
 <figure> 
  <img src="http://localhost:8008/file/dica/4/1-r-image.png" alt="Imagem"> 
 </figure></li>
<li><p class="text"> Texto </p></li>
<li> 
 <figure> 
  <img src="http://localhost:8008/file/dica/4/18527828_1847855522202070_6531821057095095303_n.jpg" alt="Imagem"> 
 </figure></li>
<li><p class="text"> Teste </p></li>