/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-- css -*/

body { background: #433B2F; font-family: 'Open Sans', Arial, sans-serif; color: #fff; counter-reset: dica; }
.wrapper { width: 90%; max-width: 960px; padding: 20px; margin: 0 auto; background: #635C52; box-sizing: border-box; }

h3 { font-size: 28px; font-weight: 700; text-shadow: 0px 2px 0px #888, 0px 3px 5px rgba(0,0,0,0.5); }

.image { padding-top: 20px; border-top: 1px solid #8d8375; }

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.image + p {
  width: 100%; margin: 0 auto; padding: 20px 0; border-bottom: 1px solid #47423b; counter-increment: dica;
}
.image + p:before { content: counter(dica); display: block; width: 40px; float: left; font-size: 30px; font-weight: 700; text-align: center; color: #fff; text-shadow: 2px 2px 0px #769950; }

.image:first-of-type { border-top: 0; }
.image + p:last-of-type { border-bottom: 0; }