html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
@-moz-keyframes circularFade {
  0% {
    background-size: 100% 100%;
    opacity: 1;
  }
}
@-webkit-keyframes circularFade {
  0% {
    background-size: 100% 100%;
    opacity: 1;
  }
}
@-o-keyframes circularFade {
  0% {
    background-size: 100% 100%;
    opacity: 1;
  }
}
@keyframes circularFade {
  0% {
    background-size: 100% 100%;
    opacity: 1;
  }
}
@-moz-keyframes dropPin {
  0% {
    transform: translate(0, -250%) scale(1, 1.1);
  }
  60% {
    transform: translate(0, 0%) scale(1, 0.9);
    transform-origin: bottom center;
  }
  65% {
    transform: translate(0, 0%) scale(1, 0.75);
    transform-origin: bottom center;
  }
  70% {
    transform: translate(0, 0%) scale(1, 0.9);
    transform-origin: bottom center;
  }
  80% {
    transform: translate(0, -12%) scale(1);
    transform-origin: bottom center;
  }
  100% {
    transform: translate(0, 0%);
  }
}
@-webkit-keyframes dropPin {
  0% {
    transform: translate(0, -250%) scale(1, 1.1);
  }
  60% {
    transform: translate(0, 0%) scale(1, 0.9);
    transform-origin: bottom center;
  }
  65% {
    transform: translate(0, 0%) scale(1, 0.75);
    transform-origin: bottom center;
  }
  70% {
    transform: translate(0, 0%) scale(1, 0.9);
    transform-origin: bottom center;
  }
  80% {
    transform: translate(0, -12%) scale(1);
    transform-origin: bottom center;
  }
  100% {
    transform: translate(0, 0%);
  }
}
@-o-keyframes dropPin {
  0% {
    transform: translate(0, -250%) scale(1, 1.1);
  }
  60% {
    transform: translate(0, 0%) scale(1, 0.9);
    transform-origin: bottom center;
  }
  65% {
    transform: translate(0, 0%) scale(1, 0.75);
    transform-origin: bottom center;
  }
  70% {
    transform: translate(0, 0%) scale(1, 0.9);
    transform-origin: bottom center;
  }
  80% {
    transform: translate(0, -12%) scale(1);
    transform-origin: bottom center;
  }
  100% {
    transform: translate(0, 0%);
  }
}
@keyframes dropPin {
  0% {
    transform: translate(0, -250%) scale(1, 1.1);
  }
  60% {
    transform: translate(0, 0%) scale(1, 0.9);
    transform-origin: bottom center;
  }
  65% {
    transform: translate(0, 0%) scale(1, 0.75);
    transform-origin: bottom center;
  }
  70% {
    transform: translate(0, 0%) scale(1, 0.9);
    transform-origin: bottom center;
  }
  80% {
    transform: translate(0, -12%) scale(1);
    transform-origin: bottom center;
  }
  100% {
    transform: translate(0, 0%);
  }
}
html {
  height: 100%;
  font: 100% Arial, Helvetica, sans-serif;
  color: #313131;
}
body {
  min-height: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 20px;
  color: #fff;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
p:last-child {
  margin-bottom: 0px;
}
sup {
  font-size: 0.5em;
  vertical-align: super;
}
a.android {
  display: block;
  width: 300px;
  background: url("../images/google-play.svg") 30px center no-repeat #a4c639;
  margin: 0 auto;
  padding: 20px 20px 20px 40px;
  text-align: center;
  box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
  border-radius: 5px;
}
img:not([src]) {
  visibility: hidden;
}
/* Fixes Firefox anomaly */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}
/* ----- HEADER ----- */
/* ----- Main Elements ----- */
main {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  background: #698f3f url("../images/quote-bg.jpg") bottom center;
  background-size: cover;
}
main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #597a36;
  opacity: 0.8;
}
main .content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
main .content h1 img {
  height: 120px;
}
main .content h1 span {
  position: relative;
  top: 5px;
  font-size: 4em;
}
main .content h1 img,
main .content h1 span {
  vertical-align: middle;
}
main .content > p {
  width: 600px;
  margin: 10px auto 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}
main .content a.veja-mais {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate3d(-50%, 0, 0);
}
main .content a.veja-mais p {
  color: #fff;
}
section.features ul {
  background: #5c3317;
  list-style: none;
  text-align: center;
}
section.features ul:after {
  content: '';
  display: table;
  clear: both;
}
section.features ul li {
  position: relative;
  display: block;
  width: 33.33%;
  height: 300px;
  float: left;
  padding: 40px 4%;
  text-align: left;
  box-sizing: border-box;
  word-spacing: 0;
}
section.features ul li:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  vertical-align: middle;
}
section.features ul li div {
  position: relative;
  display: inline-block;
  width: calc(100% - 6px);
  word-spacing: 1;
  vertical-align: middle;
}
section.features ul li div p {
  margin-bottom: 10px;
  line-height: 1.35;
}
section.features ul li.foto {
  padding: 0;
  overflow: hidden;
}
section.features ul li.foto img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}
section.quote {
  padding: 50px 0;
  background: #433b2f;
  text-align: center;
}
section.depo {
  padding: 50px 0;
  background: #54639c;
  text-align: center;
}
section.depo h3 {
  margin-bottom: 50px;
  text-align: center;
  font-style: italic;
  font-weight: 200;
  font-size: 1.875em;
}
section.depo div.q {
  position: relative;
  display: inline-block;
  width: 28%;
  margin: 0 1%;
  padding: 20px 1.5%;
  background: #6a78af;
}
section.depo div.q blockquote {
  height: 50px;
  text-align: center;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
section.depo div.q blockquote p {
  position: relative;
  display: inline;
  text-align: left;
  line-height: 1.3;
  font-weight: 200;
}
section.depo div.q small.author {
  position: relative;
  display: block;
  margin: 10px 0 0;
  text-align: right;
  color: #fff;
}
section.depo div.q small.author:before {
  content: '————';
  margin-right: 15px;
}
section.download {
  background: #5c3317;
  padding: 50px 0;
  text-align: center;
}
section.download h2 strong {
  display: block;
  margin-top: 8px;
  text-align: center;
}
/* ----- Footer ----- */
.page-footer {
  background: #303030;
  padding: 20px 0;
}
.page-footer:after {
  content: '';
  display: table;
  clear: both;
}
.page-footer a {
  background: #698f3f;
  margin-right: 20px;
  padding: 8px 20px;
  float: right;
  color: #fff;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
}
